/* Flex */
.flex {
    display: flex;
    &.g-10 {
        gap: 10px;
    }
    &.g-20 {
        gap: 20px;
    }
    &.g-50 {
        gap: 50px;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.col {
        flex-direction: column;
    }
    &.row-reverse {
        flex-direction: row-reverse;
    }
    &.ag-c {
        align-items: center;
    }
    &.jus-c {
        justify-content: center;
    }
    &.jus-end {
        justify-content: end;
    }
    &.jus-between {
        justify-content: space-between;
    }
}

.ag-self-end {
    align-self: end;
}

/* Position */
.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

/* Image display */
.obf-cov {
    object-fit: cover;
}