.heading {
    font-family: $fam-head;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
    &.huge {
        font-size: 34px;
        line-height: 1;
        white-space: nowrap;
    }
}