@import 'breakpoints';

@media (min-width: 394px) {
    .card.project {
        flex: 0 1 300px;
        &.other {
            flex: 1 1 300px;
            max-width: 600px;
        }
    }
}

@media (max-width: $sm) {
    .sibling-wrapper .card-about:last-child {
        display: none;
    }
}

@media (min-width: $sm) {
    .heading.huge {
        font-size: 40px;
    }
    footer {
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        nav {
            justify-content: end;
            padding: 50px;
        }
        .copyright {
            align-self: end;
        }
    }
}


@media (max-width: $md) {
    .home-btn {
        @include btn-color;
        @include btn-color-h;
        background-color: $primary;
        margin-top: 200px;
        &::after {
            background-color: $primary;
        }
    }
    .contact-btn {
        @include btn-color;
        @include btn-color-h;
        background-color: $primary;

        &::after {
            background-color: $primary;
        }
    }
}

@media (min-width: $sm) and (max-width: $md) {
    .panel-about .sibling-wrapper {
        flex-direction: row;
        .card-about:first-child {
            flex: 1 0 300px;
            width: 100%;
        }
        .card-about:last-child {
            width: 250px;
            display: block;
            max-height: 322px;
            align-self: end;
        }
    }
}

@media (min-width: $md) {
    .heading {
        font-size: 48px;
        margin-bottom: 20px;
        &.big {
        font-size: 52px;
        }
        &.huge {
            font-size: 56px;
        }
    }
    .head-art {
        font-size: 20px;
    }
    .fs-n8 {
        font-size: 1rem;
    }
    .fs-1 {
        font-size: 1.2rem;
    }
    .fs-2 {
        font-size: 1.5rem;
    }
    .fs-3 {
        font-size: 1.7rem; 
    }
    .home-btn {
        position: absolute;
        width: 540px;
        height: 540px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: end;
        justify-content: center;
        padding-bottom: 100px;
    }
    .sibling-wrapper .card-about:last-child {
        display: none;
    }
    .panel {
        padding-top: 100px;
        width: 80%;
        &.panel-about {
            width: 100%;
            padding: 160px;
        }
        &.panel-work {
            padding-top: 150px;
        }
        .inner {
            height: 650px;
            width: 500px; 
            .heads {
                padding-top: 140px;
            }
        }
        &.bg-spot {
            .bg-inner {
                min-width: 600px;
                max-width: 899px;
                max-height: 750px;
                background-size: 175%;
            }
    }
    }

    .card.project {
        height: 500px;
        flex: 1 1 300px;
        &.other {
            max-width: 900px;
        }
    }
    footer {
        padding: 50px;
    }
}

@media (min-width: $lg) {
    .heading.huge {
        font-size: 64px;
    }
    .panel-about.wrap {
        flex-wrap: nowrap;
        .card-about, .sibling-wrapper {
            max-width: 550px;
        }
        .sibling-wrapper {
            flex: 1 0 320px;
            .card-about:first-child {
                height: 100%;
        }
        }
    }
}

@media (min-width: 1128px) {
    .panel-about.wrap {
        .sibling-wrapper {
            flex: 1 0 400px;
        }
    }
    .skills.hide,
    .sibling-wrapper .card-about:last-child {
        display: block;
    }
}

@media (min-width: $xlg) {
    header {
        margin-top: 15px;
    }
    .wrapper {
        position: relative;
        width: 50px;
        &::before {
            content: 'v';
            color: #331199;
            opacity: 0;
            margin-left: 11px;
            transition: all 0.3s;
        }
        .orbit {
            width: 435px;
            height: 435px;
            position: absolute;
            top: -115px;
            left: 70px;
            transform: rotate(-35deg);
            animation: orbit 0.8s forwards ease-out;
            .v {
                position: absolute;
                top: -20px;
                left: 29px;
                transform: rotate(40deg);
            }
        }

    }
    .home-btn {
        padding-bottom: 64px;
    }
    .panel {
        * {
            transition: padding 0.5s, height 0.5s;
        }
        .inner {
            animation: spread 0.5s both ease-out alternate;
            align-items: normal;
            .heads {
                padding: 80px 73px 0px 40px;
                color: $bg-light;
                mix-blend-mode: difference;
                .off {
                    margin-left: -90px;
                }
                span {
                    width: 158px !important;
                }
                .head-art {
                    font-size: 24px;
                }
                .head-sh-g {
                    animation: distort 0.6s;
                    text-shadow: -3px 3px $accent-1;
                    transition: text-shadow 0.6s;
                }
            }
        }
        &.bg-spot {
            .bg-inner {
                background-size: 150%;
            }
        }
        &:hover {
            .heads {
                padding: 80px 120px 0px 148px;
                .orbit {
                    animation: orbit-quarter 0.5s forwards ease-out;
                }
                .head-sh-g {
                    text-shadow: -5px 5px #331199;
                }
            }
            .home-btn {
                height: 682px;
                width: 682px;
            }
            .bg-inner {
            background-size: 220%;
            }
            .wrapper::before {
                opacity: 1;
            }
        }

    }
}

@media (min-width: $xlg) and (min-height: 775px) {
    .panel-home {
        height: 100vh;
    }
}