/** Buttons **/
@mixin btn-base {
    text-align: center;
    cursor: pointer;
    z-index: 5;
}


@mixin btn-color {
    color: #000;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 5px 15px;
}

@mixin btn-color-h {
    position: relative;
    overflow: hidden;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 0;
            width: 100%;
            color: #fff;
            mix-blend-mode: difference;
            transition: height 0.5s;
        }
        &:hover::after {
            height: 100%;
        }
}

.btn {
    @include btn-base;
    &.g {
        @include btn-color;
        background-color: $primary;
    }
    &.hover-g {
        @include btn-color-h;
        &::after {
            background-color: $primary;
        }
    }
    &.bw {
        @include btn-color;
        background-color: $bg-light;
    }
    &.hover-bw {
        @include btn-color-h;
        &::after {
            background-color: #fff;
        }
    }
}