.panel-home {
    padding-top: 200px;
    .inner {
        height: 500px;
        width: 300px;
        margin: auto;
        .heads {
            padding-top: 70px;
            letter-spacing: 6px;
        }
    }
    .bg-inner {
        z-index: -100;
    }
}

