/* General */

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100dvw;
}

main {
    min-height: calc(100dvh);
}

header {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(2px);
    background-color: #222222aa;
    color: #fff;
    height: 60px;
    max-width: 550px;
    margin-top: 5px;
    padding: 10px 30px;
    z-index: 10;
}

footer {
    flex-direction: column;
    padding-top: 50px;
}

@import 'variables/index', 'typography/index', 'layout/index', 'spacing/index', 'misc/borders', 'misc/bg', 'panel', 'buttons', 'home', 'about', 'work', 'at/queries', 'at/animations';