* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input[type="button"],
input[type="submit"] {
    background: none;
    border: none;
    outline: none;
}

textarea, input {
    font-family: inherit;
    font-size: 1rem;
}

textarea {
    resize: none;
}