/* General */
* {
  box-sizing: border-box; }

body {
  height: 100vh;
  width: 100dvw; }

main {
  min-height: calc(100dvh); }
  main .bg-inner.main {
    /*&.reverse {
            animation: spotlight-full reverse 0.8s ease-in;
        }*/
    z-index: -100; }

header {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: #222222aa;
  color: #fff;
  height: 60px;
  max-width: 550px;
  margin-top: 5px;
  padding: 10px 30px;
  z-index: 10; }

footer {
  flex-direction: column;
  padding-top: 50px; }

.heading {
  font-family: "Slackside One", cursive;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px; }
  .heading.big {
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase; }
  .heading.huge {
    font-family: "Mansalva", sans-serif;
    font-size: 28px;
    line-height: 1;
    white-space: nowrap; }

.head-art {
  font-size: 14px; }
  .head-art .head-sh-g {
    text-shadow: -3px 3px #C1EE6C;
    text-transform: uppercase; }

.head-sh-w {
  text-shadow: -1px 2px #fffaf0; }

body {
  line-height: 1.5;
  font-family: "Karla", sans-serif; }

.fs-n8 {
  font-size: 0.8rem; }

.fs-1 {
  font-size: 1rem; }

.fs-2 {
  font-size: 1.2rem; }

.fs-3 {
  font-size: 1.5rem; }

.thin {
  font-weight: 200; }

.txt-right {
  text-align: right; }

/* Flex */
.flex {
  display: flex; }
  .flex.g-10 {
    gap: 10px; }
  .flex.g-20 {
    gap: 20px; }
  .flex.g-50 {
    gap: 50px; }
  .flex.wrap {
    flex-wrap: wrap; }
  .flex.col {
    flex-direction: column; }
  .flex.ag-c {
    align-items: center; }
  .flex.jus-c {
    justify-content: center; }
  .flex.jus-end {
    justify-content: end; }
  .flex.jus-between {
    justify-content: space-between; }

.ag-self-end {
  align-self: end; }

.jus-self-end {
  justify-self: end; }

/* Position */
.pos-rel {
  position: relative; }

.pos-abs {
  position: absolute; }

/* Image display */
.obf-cov {
  object-fit: cover; }

/* Other */
.hide {
  display: none; }

/* Dimensions */
.w-full {
  width: 100%; }

.h-full {
  height: 100%; }

.h-half {
  height: 50%; }

/* Margins */
.m-auto {
  margin: auto; }

.m-top-20 {
  margin-top: 20px; }

.m-top-50 {
  margin-top: 50px; }

.m-top-200 {
  margin-top: 200px; }

/* Padding */
.pad-10-20 {
  padding: 10px 20px; }

.pad-10-30 {
  padding: 10px 30px; }

.pad-btm-10 {
  padding-bottom: 10px; }

.pad-20 {
  padding: 20px; }

.pad-30 {
  padding: 30px; }

.pad-50 {
  padding: 50px; }

/* Border styles */
.rounded-reg {
  border-radius: 30px; }

.rounded-s {
  border-radius: 5px; }

.rounded-full {
  border-radius: 50%; }

.bg-b {
  background-color: #222; }
  .bg-b * {
    color: #fff; }

.bg-w {
  background-color: #fffaf0; }

.bg-g {
  background-color: #C1EE6C; }

html {
  background-color: #222; }

.bg-spot .bg-inner {
  position: absolute;
  inset: 0;
  min-width: 300px;
  background: radial-gradient(circle at 50%, #fffaf0, #fffaf0 30%, #fffaf0 30%, #fffaf0 35%, transparent calc(35% + 1px)) no-repeat;
  background-size: 0%;
  background-position: 50%;
  transition: all 0.5s;
  margin: auto; }

html[data-theme="light"] .bg-main {
  background-color: #fffaf0; }

.panel {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  margin: auto;
  transition: all 0.5s; }

/** Buttons **/
.btn {
  text-align: center;
  cursor: pointer;
  z-index: 5; }
  .btn.g {
    color: #000;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: #C1EE6C; }
  .btn.hover-g {
    position: relative;
    overflow: hidden; }
    .btn.hover-g::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0;
      width: 100%;
      color: #fff;
      mix-blend-mode: difference;
      transition: height 0.5s; }
    .btn.hover-g:hover::after {
      height: 100%; }
    .btn.hover-g::after {
      background-color: #C1EE6C; }
  .btn.bw {
    color: #000;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: #fffaf0; }
  .btn.hover-bw {
    position: relative;
    overflow: hidden; }
    .btn.hover-bw::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0;
      width: 100%;
      color: #fff;
      mix-blend-mode: difference;
      transition: height 0.5s; }
    .btn.hover-bw:hover::after {
      height: 100%; }
    .btn.hover-bw::after {
      background-color: #fff; }

.panel-home {
  padding-top: 200px; }
  .panel-home .inner {
    height: 500px;
    width: 300px;
    margin: auto; }
    .panel-home .inner .heads {
      padding-top: 70px;
      letter-spacing: 6px; }
  .panel-home .bg-inner {
    z-index: -100; }

.panel-about {
  padding: 20px;
  padding-top: 100px;
  background: radial-gradient(circle at 75% 20%, #C1EE6C, #C1EE6C 40%, #C1EE6C 40%, #C1EE6C 45%, transparent calc(45% + 1px)); }
  .panel-about .card-about {
    padding: 30px 50px; }
  .panel-about .sibling-wrapper {
    flex: 1 1 300px; }
  .panel-about .btn {
    min-width: 150px; }

.skill {
  border-radius: 30px;
  padding: 10px;
  flex: 1;
  text-align: center;
  max-width: 200px;
  white-space: nowrap;
  text-shadow: -1px 2px #C1EE6C; }

.panel-work {
  padding: 20px;
  padding-top: 100px;
  max-width: 900px; }
  .panel-work .project {
    min-height: 400px;
    flex: 1 0 265px;
    max-width: 500px;
    padding: 30px 10px; }
    .panel-work .project .caption {
      text-align: right; }
    .panel-work .project .demo {
      position: absolute;
      inset: 0;
      display: flex;
      align-items: end;
      justify-content: end;
      padding: 50px;
      border-radius: 30px; }
    .panel-work .project .other-link {
      max-width: 240px;
      padding: 10px 20px; }

.project {
  border: 1px solid #fffaf0; }
  .project::after {
    position: absolute;
    content: '';
    background-color: #C1EE6C;
    opacity: 0.9;
    backdrop-filter: blur(5px);
    top: 10px;
    left: 10px;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    z-index: -5;
    transition: 0.5s;
    overflow: hidden; }
  .project:hover::after {
    top: 0px;
    left: 0px;
    border-width: 0px;
    border-radius: 25px; }

.tech {
  border-radius: 30px;
  padding: 10px 20px;
  flex: 1;
  text-align: center;
  max-width: 260px; }

.tech, .other-link {
  white-space: nowrap; }

.panel-contact {
  padding: 30px;
  padding-top: 100px; }
  .panel-contact form {
    flex: 1 0 200px;
    margin: auto; }
  .panel-contact .form-div {
    width: 100%;
    padding: 10px; }
    .panel-contact .form-div input, .panel-contact .form-div textarea {
      padding: 10px;
      border: 1px solid #222;
      border-radius: 15px;
      width: 100%; }
    .panel-contact .form-div textarea {
      min-width: 200px;
      width: 100%;
      flex: 1 1 200px; }

@media (min-width: 394px) {
  .card.project {
    flex: 0 1 300px; }
    .card.project.other {
      flex: 1 1 300px;
      max-width: 600px; } }

@media (max-width: 636px) {
  .sibling-wrapper .card-about:last-child {
    display: none; } }

@media (min-width: 636px) {
  .heading.huge {
    font-size: 40px; }
  footer {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between; }
    footer nav {
      justify-content: end;
      padding: 50px; }
    footer .copyright {
      align-self: end; } }

@media (max-width: 793px) {
  .home-btn {
    color: #000;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 5px 15px;
    position: relative;
    overflow: hidden;
    background-color: #C1EE6C;
    margin-top: 200px; }
    .home-btn::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0;
      width: 100%;
      color: #fff;
      mix-blend-mode: difference;
      transition: height 0.5s; }
    .home-btn:hover::after {
      height: 100%; }
    .home-btn::after {
      background-color: #C1EE6C; }
  .contact-btn {
    color: #000;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 5px 15px;
    position: relative;
    overflow: hidden;
    background-color: #C1EE6C; }
    .contact-btn::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0;
      width: 100%;
      color: #fff;
      mix-blend-mode: difference;
      transition: height 0.5s; }
    .contact-btn:hover::after {
      height: 100%; }
    .contact-btn::after {
      background-color: #C1EE6C; } }

@media (min-width: 636px) and (max-width: 793px) {
  .panel-about .sibling-wrapper {
    flex-direction: row; }
    .panel-about .sibling-wrapper .card-about:first-child {
      flex: 1 0 300px;
      width: 100%; }
    .panel-about .sibling-wrapper .card-about:last-child {
      width: 250px;
      display: block;
      max-height: 322px;
      align-self: end; } }

@media (min-width: 793px) {
  .heading {
    font-size: 48px;
    margin-bottom: 20px; }
    .heading.big {
      font-size: 52px; }
    .heading.huge {
      font-size: 56px; }
  .head-art {
    font-size: 20px; }
  .fs-n8 {
    font-size: 1rem; }
  .fs-1 {
    font-size: 1.2rem; }
  .fs-2 {
    font-size: 1.5rem; }
  .fs-3 {
    font-size: 1.7rem; }
  .home-btn {
    position: absolute;
    width: 540px;
    height: 540px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 100px; }
  .sibling-wrapper .card-about:last-child {
    display: none; }
  .panel {
    padding-top: 100px;
    width: 80%; }
    .panel.panel-about {
      width: 100%;
      padding: 160px; }
    .panel.panel-work {
      padding-top: 150px; }
    .panel .inner {
      height: 650px;
      width: 500px; }
      .panel .inner .heads {
        padding-top: 140px; }
    .panel.bg-spot .bg-inner {
      min-width: 600px;
      max-width: 899px;
      max-height: 750px;
      background-size: 175%; }
  .card.project {
    height: 500px;
    flex: 1 1 300px; }
    .card.project.other {
      max-width: 900px; }
  footer {
    padding: 50px; } }

@media (min-width: 992px) {
  .heading.huge {
    font-size: 64px; }
  .panel-about.wrap {
    flex-wrap: nowrap; }
    .panel-about.wrap .card-about, .panel-about.wrap .sibling-wrapper {
      max-width: 550px; }
    .panel-about.wrap .sibling-wrapper {
      flex: 1 0 320px; }
      .panel-about.wrap .sibling-wrapper .card-about:first-child {
        height: 100%; } }

@media (min-width: 1128px) {
  .panel-about.wrap .sibling-wrapper {
    flex: 1 0 400px; }
  .skills.hide,
  .sibling-wrapper .card-about:last-child {
    display: block; } }

@media (min-width: 1200px) {
  header {
    margin-top: 15px; }
  .wrapper {
    position: relative;
    width: 50px; }
    .wrapper::before {
      content: 'v';
      color: #331199;
      opacity: 0;
      margin-left: 11px;
      transition: all 0.3s; }
    .wrapper .orbit {
      width: 435px;
      height: 435px;
      position: absolute;
      top: -115px;
      left: 70px;
      transform: rotate(-35deg);
      animation: orbit 0.8s forwards ease-out; }
      .wrapper .orbit .v {
        position: absolute;
        top: -20px;
        left: 29px;
        transform: rotate(40deg); }
  .home-btn {
    padding-bottom: 64px; }
  .panel * {
    transition: padding 0.5s, height 0.5s; }
  .panel .inner {
    animation: spread 0.5s both ease-out alternate;
    align-items: normal; }
    .panel .inner .heads {
      padding: 80px 73px 0px 40px;
      color: #fffaf0;
      mix-blend-mode: difference; }
      .panel .inner .heads .off {
        margin-left: -90px; }
      .panel .inner .heads span {
        width: 158px !important; }
      .panel .inner .heads .head-art {
        font-size: 24px; }
      .panel .inner .heads .head-sh-g {
        animation: distort 0.6s;
        text-shadow: -3px 3px #ee6c80;
        transition: text-shadow 0.6s; }
  .panel.bg-spot .bg-inner {
    background-size: 150%; }
  .panel:hover .heads {
    padding: 80px 120px 0px 148px; }
    .panel:hover .heads .orbit {
      animation: orbit-quarter 0.5s forwards ease-out; }
    .panel:hover .heads .head-sh-g {
      text-shadow: -5px 5px #331199; }
  .panel:hover .home-btn {
    height: 682px;
    width: 682px; }
  .panel:hover .bg-inner {
    background-size: 220%; }
  .panel:hover .wrapper::before {
    opacity: 1; } }

@media (min-width: 1200px) and (min-height: 775px) {
  .panel-home {
    height: 100vh; } }

@keyframes orbit {
  from {
    transform: rotate(-135deg); }
  to {
    transform: rotate(-395deg); } }

@keyframes orbit-quarter {
  from {
    transform: rotate(-35deg); }
  to {
    transform: rotate(-135deg); } }

@keyframes spread {
  from {
    width: 500px; }
  to {
    width: 972px; } }

@keyframes distort {
  from {
    text-shadow: 0px 0px #ee6c80; }
  to {
    text-shadow: -3px 3px #ee6c80; } }

@keyframes spotlight {
  from {
    background-size: 150%; }
  to {
    background-size: 250%; } }

@keyframes spotlight-full {
  from {
    background-size: 0%; }
  to {
    background-size: 500%; } }
