/* Colors */
/* Gradients */
/* Borders */
/* Fonts */
/* End of sass variables */
/** Buttons **/
.btn {
  padding: 10px 15px;
  border: 2px solid #000;
  border-radius: 5px; }
  .btn .bw {
    color: #000;
    background-color: #fff; }
  .btn .hover-bw {
    position: relative; }
    .btn .hover-bw::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0;
      width: 100%;
      border-radius: 3px;
      color: #fff;
      mix-blend-mode: difference;
      transition: height 0.5s; }
    .btn .hover-bw:hover::after {
      height: 100%; }
